@import 'styles/abstracts/abstracts';

.container {
  position: relative;
  height: px(38);
  line-height: px(36);
  padding: 0 px(10);

  &.extra-small {
    height: px(22);
    padding: 0 px(7);
    line-height: px(20);
    font-size: px(10);
  }

  &.small {
    height: px(30);
    padding: 0 px(7);
    line-height: px(28);
  }

  &.medium {
    height: px(38);
    line-height: px(36);
    padding: 0 px(10);
  }

  &.large {
    height: px(46);
    line-height: px(44);
    padding: 0 px(12);
  }
}

:global {
  .ui-disable {
    background-color: $color-gray-5 !important;
    opacity: 0.4;
    cursor: not-allowed;
  }
}
