@import '../abstracts/abstracts.scss';

$slider-handle-width: 20;
$slider-handle-height: 20;

$rail-height: 4;
$rail-radius: 6;

$track-height: 4;
$track-radius: 6;

$mark-font-size: 12;

$step-height: 4;

$dot-width: 8;
$dot-height: 8;

$tooltip-inner-height: 24;

:global {
  .rc-slider {
    position: relative;
    padding: 5px 0;
    width: 100%;
    border-radius: 6px;
    touch-action: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    * {
      box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }

  .rc-slider-rail {
    position: absolute;
    width: 100%;
    background-color: $color-info;
    height: px($rail-height);
    border-radius: px($rail-radius);
  }

  .rc-slider-track {
    position: absolute;
    left: 0;
    height: px($track-height);
    border-radius: px($track-radius);
    background-color: $color-primary;
    // top: 50%;
    // transform: translateY(-50%);
  }

  .rc-slider-handle {
    position: absolute;
    margin-top: px(-$slider-handle-width / 2.25);

    width: px($slider-handle-width);
    height: px($slider-handle-height);

    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 50%;
    background-color: $color-light;
    touch-action: pan-x;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: tint(#2db7f5, 20%);
    }

    &:active {
      border-color: tint(#2db7f5, 20%);
      box-shadow: 0 0 5px tint(#2db7f5, 20%);
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }

  .rc-slider-handle-dragging {
    &.rc-slider-handle-dragging {
      &.rc-slider-handle-dragging {
        border-color: tint(#2db7f5, 20%);
        box-shadow: 0 0 0 5px tint(#2db7f5, 50%);
      }
    }
  }

  .rc-slider-handle-click-focused {
    &:focus {
      border-color: tint(#2db7f5, 50%);
      box-shadow: unset;
    }
  }

  .rc-slider-mark {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    font-size: px($mark-font-size);
  }

  .rc-slider-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #999;
  }

  .rc-slider-mark-text-active {
    color: #666;
  }

  .rc-slider-step {
    position: absolute;
    width: 100%;
    height: px($step-height);
    background: transparent;
  }

  .rc-slider-dot {
    position: absolute;
    bottom: -2px;
    margin-left: -4px;
    width: px($dot-width);
    height: px($dot-height);
    border: 1px solid $color-gray-4;
    background-color: $color-light;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
  }

  .rc-slider-dot-active {
    border-color: $color-primary;
  }

  .rc-slider-dot-reverse {
    margin-right: -4px;
  }

  .rc-slider-disabled {
    background-color: #e9e9e9;

    .rc-slider-track {
      background-color: #ccc;
    }
  }

  .rc-slider-disabled .rc-slider-handle,
  .rc-slider-disabled .rc-slider-dot {
    border-color: #ccc;
    box-shadow: none;
    background-color: #fff;
    cursor: not-allowed;
  }

  .rc-slider-disabled .rc-slider-mark-text,
  .rc-slider-disabled .rc-slider-dot {
    cursor: not-allowed !important;
  }

  .rc-slider-vertical {
    width: 14px;
    height: 100%;
    padding: 0 5px;

    .rc-slider-rail {
      height: 100%;
      width: 4px;
    }

    .rc-slider-track {
      left: 5px;
      bottom: 0;
      width: 4px;
    }

    .rc-slider-handle {
      margin-left: -5px;
      touch-action: pan-y;
    }

    .rc-slider-mark {
      top: 0;
      left: 18px;
      height: 100%;
    }

    .rc-slider-step {
      height: 100%;
      width: 4px;
    }

    .rc-slider-dot {
      left: 2px;
      margin-bottom: -4px;

      &:first-child {
        margin-bottom: -4px;
      }

      &:last-child {
        margin-bottom: -4px;
      }
    }
  }

  .rc-slider-tooltip-zoom-down-enter,
  .rc-slider-tooltip-zoom-down-appear {
    animation-duration: .3s;
    animation-fill-mode: both;
    display: block !important;
    animation-play-state: paused;
    transform: scale(0, 0);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }

  .rc-slider-tooltip-zoom-down-leave {
    animation-duration: .3s;
    animation-fill-mode: both;
    display: block !important;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);

    &.rc-slider-tooltip-zoom-down-leave-active {
      animation-name: rcSliderTooltipZoomDownOut;
      animation-play-state: running;
    }
  }

  .rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
  .rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
    animation-name: rcSliderTooltipZoomDownIn;
    animation-play-state: running;
  }

  .rc-slider-tooltip {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: visible;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .rc-slider-tooltip {
    * {
      box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }

  .rc-slider-tooltip-hidden {
    display: none;
  }

  .rc-slider-tooltip-placement-top {
    padding: 4px 0 8px 0;

    .rc-slider-tooltip-arrow {
      bottom: 4px;
      left: 50%;
      margin-left: -4px;
      border-width: 4px 4px 0;
      border-top-color: $color-gray-9;
    }
  }

  .rc-slider-tooltip-inner {
    padding: 6px 2px;
    min-width: px($tooltip-inner-height);
    height: px($tooltip-inner-height);
    font-size: px(12);
    line-height: 1;
    color: $color-light;
    text-align: center;
    text-decoration: none;
    background-color: $color-gray-9;
    border-radius: 6px;
    box-shadow: 0 0 4px $color-gray-9;
  }

  .rc-slider-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  @keyframes rcSliderTooltipZoomDownIn {
    0% {
      opacity: 0;
      transform-origin: 50% 100%;
      transform: scale(0, 0);
    }

    100% {
      transform-origin: 50% 100%;
      transform: scale(1, 1);
      opacity: 0;
      transform-origin: 50% 100%;
      transform: scale(0, 0);
    }
  }

  @keyframes rcSliderTooltipZoomDownOut {
    0% {
      transform-origin: 50% 100%;
      transform: scale(1, 1);
    }
  }
}
