@import '../abstracts/abstracts.scss';

$font-size-tab: 14;

:global {
  .rc-tabs {
    border: none !important;
  }

  .rc-tabs-tab {
    padding: px(8) 0;
    text-transform: capitalize;
    background-color: transparent !important;
    background: transparent;
    color: $color-dark;
  }

  .rc-tabs-nav {
    margin-bottom: px(8);
    align-items: center;
  }

  .rc-tabs-nav-wrap {

    &::before,
    &::after {
      content: '';
      display: none;
    }
  }

  .rc-tabs-nav-more,
  .rc-tabs-dropdown-menu-item {
    cursor: pointer;
    outline: none;
  }

  .rc-tabs-dropdown-menu {

    &:hover,
    &:focus,
    &:active {
      outline: unset;
    }
  }

  .rc-tabs-dropdown {
    transition: 0.3s ease-in-out;
    border: unset;
    outline: unset;
    box-shadow: 0 px(3) px(6) px(-4) rgba(0, 0, 0, .12),
      0 px(6) px(16) 0 rgba(0, 0, 0, .08),
      0 px(9) px(28) px(8) rgba(0, 0, 0, .05);
  }

  .rc-tabs-dropdown-menu-item {
    padding: px(4) px(12);
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #000000;
    font-size: px(14);

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }

  .rc-tabs-nav-more {
    display: flex;
    justify-content: center;
    align-items: center;

    border: unset;
    background-color: $color-light;
    color: $color-gray-8;
    box-shadow: 0 px(3) px(6) px(-4) rgba(0, 0, 0, .12),
      0 px(6) px(16) 0 rgba(0, 0, 0, .08),
      0 px(9) px(28) px(8) rgba(0, 0, 0, .05);
    cursor: pointer;

    font-size: px(14);
    padding: px(10) px(16);
    margin: 0;
  }

  .rc-tabs-tab .rc-tabs-tab-btn {
    font-weight: 400;
    font-size: px($font-size-tab);
    border: none;

    &:active,
    &:hover,
    &:focus {
      border: none;
      outline: none;
    }
  }

  .rc-tabs-tab.rc-tabs-tab-active {
    color: $color-behance !important;
  }

  .rc-tabs-ink-bar {
    background: $color-behance !important;
  }

  .rc-tabs-tab-disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  .rc-tabs-tabpane {
    font-size: px($font-size-tab);
    color: $color-gray-9;

    &:active,
    &:hover,
    &:focus {
      border: none;
      outline: none;
    }
  }

}
