@import 'styles/abstracts/abstracts';


$width-control-extra-small: 12;
$height-control-extra-small: 12;
$width-control-small: 18;
$height-control-small: 18;
$width-control-medium: 24;
$height-control-medium: 24;
$width-control-large: 30;
$height-control-large: 30;
$border-color-checked: $color-behance;


.container {
  font-size: px(14);

  &.disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  .extra-small & {
    font-size: px(10);
  }
}

.control {
  width: px($width-control-medium);
  height: px($height-control-medium);

  .extra-small & {
    width: px($width-control-extra-small);
    height: px($height-control-extra-small);
  }

  .small & {
    width: px($width-control-small);
    height: px($height-control-small);
  }

  .medium & {
    width: px($width-control-medium);
    height: px($height-control-medium);
  }

  .large & {
    width: px($width-control-large);
    height: px($height-control-large);
  }
}

.dot {
  opacity: 0;
  width: px(12);
  height: px(12);

  .extra-small & {
    width: px(4);
    height: px(4);
  }

  .small & {
    width: px(8);
    height: px(8);
  }

  .medium & {
    width: px(12);
    height: px(12);
  }

  .large & {
    width: px(16);
    height: px(16);
  }
}

.checked {
  .dot {
    opacity: 1;
  }
}

//===========================================//
.radioButtonContainer {
  height: px(38);
  padding: 0 px(15);
  color: $color-dark;
  font-size: px(12);
  line-height: px(36);
  border-width: px(2) px(2) px(2) 0;

  &:first-child {
    border-radius: px(5) 0 0 px(5);
    border-left: 2px solid $color-gray-5;
  }

  &:last-child {
    border-radius: 0 px(5) px(5) 0;
  }

  &.disabledRadioButton {
    background-color: $color-gray-4;
    color: $color-gray-5 !important;
    cursor: not-allowed;
  }

  &.checkedRadioButton.disabledRadioButton {
    background-color: $color-gray-9;
    color: $color-gray-6 !important;
  }

  &.extra-small {
    height: px(22);
    padding: 0 px(7);
    line-height: px(20);
    font-size: px(10);
  }

  &.small {
    height: px(30);
    padding: 0 px(7);
    line-height: px(28);
    font-size: px(12);
  }

  &.medium {
    height: px(38);
    font-size: px(12);
    line-height: px(36);
    padding: 0 px(15);
  }

  &.large {
    height: px(46);
    font-size: px(14);
    line-height: px(44);
    padding: 0 px(42);
  }
}

.checkedRadioButton {}

.checkedRadioButton.disabledRadioButton {
  background-color: $color-gray-5;
  color: $color-gray-6 !important;
}

.blockRadioButton {
  flex: 1;
}

// =====================//

.blockGroup {
  display: flex;
  align-items: center;
}
