.container {
  border: 0;
  box-shadow: none;
  padding: 10px 15px;
  background-color: #f00;
  color: #fff;
}

.small {
  padding: 6px 10px;
}

.medium {
  padding: 10px 15px;
}

.large {
  padding: 14px 20px;
}
