.container {
  --duration: .5s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
  --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
  padding: 16px 32px;
  font-family: 'Roboto';
  font-weight: 500;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .5px;
  box-shadow: var(--shadow);
  transform: translateY(var(--y));
  transition: transform var(--duration) ease,
    box-shadow var(--duration) ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;

  div {
    display: flex;

    span {
      display: block;
      backface-visibility: hidden;
      font-style: normal;
      $i: 1;

      @while $i < 12 {
        &:nth-child(#{$i}) {
          --d: #{$i / 20 + s};
        }

        $i: $i+1;
      }
    }
  }

  transition: transform var(--duration) ease,
  box-shadow var(--duration) ease;

  &:hover {
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);
    --move: -4px;
    --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);

    span {
      animation: move var(--duration) linear var(--d);
    }
  }
}

@keyframes move {
  40% {
    transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}
