@import 'styles/abstracts/abstracts.scss';
@import './Switch.settings.scss';

// general
$space: map-get($settings, 'space');
$font-size: map-get($settings, 'font-size');
$handle-height-space: $space * 2;
$translateX-checked: translateX(calc(100% + #{px($space)}));

// large
$switch-height-large: map-get($settings, 'switch-height-large');
$switch-width-large: $switch-height-large * 1.75;
$switch-min-width-large: $switch-width-large * 1.05;

$handle-size-large: $switch-height-large - $handle-height-space;

// medium
$switch-height-medium: map-get($settings, 'switch-height-medium');
$switch-width-medium: $switch-height-medium * 1.75;
$switch-min-width-medium: $switch-width-medium * 1.05;

$handle-size-medium: $switch-height-medium - $handle-height-space;

// small
$switch-height-small: map-get($settings, 'switch-height-small');
$switch-width-small: $switch-height-small * 1.75;
$switch-min-width-small: $switch-width-small * 1.05;

$handle-size-small: $switch-height-small - $handle-height-space;

// extra small
$switch-height-extra-small: map-get($settings, 'switch-height-extra-small');
$switch-width-extra-small: $switch-height-extra-small * 1.75;
$switch-min-width-extra-small: $switch-width-extra-small * 1.05;

$handle-size-extra-small: $switch-height-extra-small - $handle-height-space;

.container {
  font-size: px($font-size);
  min-width: px($switch-width-medium);
  height: px($switch-height-medium);
  line-height: px($switch-height-medium);

  transition: 0.2s all ease;
  user-select: none;

  &.large {
    min-width: px($switch-min-width-large);
    height: px($switch-height-large);
    line-height: px($switch-height-large);
  }

  &.medium {
    min-width: px($switch-min-width-medium);
    height: px($switch-height-medium);
    line-height: px($switch-height-medium);
  }

  &.small {
    min-width: px($switch-min-width-small);
    height: px($switch-height-small);
    line-height: px($switch-height-small);
  }


  &.extra-small {
    min-width: px($switch-min-width-extra-small);
    height: px($switch-height-extra-small);
    line-height: px($switch-height-extra-small);
  }
}

.handle {
  top: px($space);
  transition: all 0.2s ease-in-out;
  @include autoDirection((
    transform: translateX(px($space))
  ));

  .checked & {
    @include autoDirection((
      transform: $translateX-checked
    ))
  }

  .extra-small & {
    width: px($handle-size-extra-small);
    height: px($handle-size-extra-small);
  }

  .extra-small.checked & {
    @include autoDirection((transform: $translateX-checked))
  }

  .small & {
    width: px($handle-size-small);
    height: px($handle-size-small);
  }

  .small.checked & {
    @include autoDirection((transform: $translateX-checked))
  }

  .medium & {
    width: px($handle-size-medium);
    height: px($handle-size-medium);
  }

  .medium.checked & {
    @include autoDirection((transform: $translateX-checked))
  }

  .large & {
    width: px($handle-size-large);
    height: px($handle-size-large);
  }

  .large.checked & {
    @include autoDirection((transform: $translateX-checked))
  }
}

.inner {
  font-size: px(12);
  transition: 0.2s ease;
  top: 50%;
  transform: translateY(-50%);
  display: flex;

  @include autoDirection((left: px(2)));

  .extra-small & {
    font-size: px(10);
  }

  .medium & {
    font-size: px(13);
  }

  .large & {
    font-size: px(14);
  }
}

.innerChecked {
  @include autoDirection((left: px(2)));
}

:global {
  .ui-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
