@import 'styles/abstracts/abstracts';

$font-size-extra-small: 12;
$font-size-small: 14;
$font-size-medium: 14;
$font-size-large: 14;

.container {
  font-size: px($font-size-medium);

  &.large {
    font-size: px($font-size-large);
  }

  &.medium {
    font-size: px($font-size-medium);
  }

  &.small {
    font-size: px($font-size-small);
  }

  &.extra-small {
    font-size: px($font-size-extra-small);
  }

}
