@import 'styles/abstracts/abstracts';

.container {
  font-size: px(16);
}

.large {
  font-size: px(20);
}

.medium {
  font-size: px(16);
}

.small {
  font-size: px(12);
}

.extra-small {
  font-size: px(10);
}
