@import '~wiloke-react-core/styles/tachyons.scss';
@import '~wiloke-react-core/styles/base.scss';
@import '~wiloke-react-core/styles/wilokeStyles.scss';
@import 'base/reset.scss';
@import 'base/typography.scss';


@include createGrid((
  container: (
    width: 1300,
    gap: 15
  ),
  columns: (
    max: 12,
    gap: 30
  ),
  breakpoints: (
    default: xs,
    sm: 768,
    md: 992,
    lg: 1300
  )
));

@include createGridEqual((
  xs: 'default',
  sm: 768,
  md: 992,
  lg: 1300
));
