@import 'styles/abstracts/abstracts.scss';

$font-size-default: 14;

$font-size-small: 12;
$padding-small-vertical: 0;
$padding-small-horizontal: 8;

$padding-medium-vertical: 0;
$padding-medium-horizontal: 10;

$padding-large-vertical: 0;
$padding-large-horizontal: 12;

$height-input-large: 46;
$height-input-medium: 37;
$height-input-small: 28;

.container {
  margin: 0;
  position: relative;
  display: inline-block;
}

.textInput {
  background-color: transparent;
  background-image: none;
  appearance: none;
  border: none;
  box-shadow: none;
  color: $color-dark;
  width: 100%;
  height: 100%;

  &:focus {
    outline: unset;
  }

  .small & {
    padding: px(0) px($padding-small-horizontal);
    font-size: px($font-size-small);
  }

  .medium & {
    padding: px(0) px($padding-medium-horizontal);
    font-size: px($font-size-default);
  }

  .large & {
    padding: px(0) px($padding-large-horizontal);
    font-size: px($font-size-default);
  }
}

.small {
  height: px($height-input-small);
}

.medium {
  height: px($height-input-medium);
}

.large {
  height: px($height-input-large);
}

.block {
  width: 100%;
}

.disabled {
  opacity: 0.4;
  cursor: no-drop;
}
