@import 'styles/abstracts/abstracts.scss';

.container {
  padding: px(30);
}

.icon {
  position: relative;
  z-index: 9;
  width: px(70);
  height: px(70);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: px(28);
}

.iconBg {
  z-index: -1;
  opacity: 0.15;
}

.title {
  font-size: px(18);
  margin-bottom: px(8);
}
