@import 'styles/abstracts/abstracts.scss';

.container {
  padding: px(15);
  margin-bottom: px(15);
  position: relative;
  overflow: hidden;
}

.enableClose {
  @include autoDirection((
    padding-right: px(30)
  ));
}

.showIcon {
  @include autoDirection((
    padding-left: px(60)
  ));
}

.disableBorder {
  border: none;
}

.message {
  display: block;
  font-size: px(16);
}

.description {
  margin-top: px(4);
  font-size: px(14);
  line-height: px(22);
}

.bgOverlay {
  z-index: -1;
  opacity: 0.05;
}

.small {
  padding-top: px(8);
  padding-bottom: px(8);
  .icon {
    top: px(10);
    font-size: px(18);
  }
  .message {
    font-size: px(14);
  }
  .description {
    font-size: px(13);
  }

  &.showIcon {
    @include autoDirection((
      padding-left: px(37)
    ));
  }
}

.medium {
  .icon {
    top: px(15);
    font-size: px(26);
  }
  .message {
    font-size: px(16);
  }
  .description {
    font-size: px(14);
  }
}

.large {
  .icon {
    top: px(16);
    font-size: px(30);
  }
  .message {
    font-size: px(20);
  }
  .description {
    font-size: px(15);
  }
}

//

.round {
  border-radius: px(10);
}

.pill {
  border-radius: px(50);
}
