@import 'styles/abstracts/abstracts.scss';

.container {
  padding: px(15);
  margin-bottom: px(15);
}

.enableClose {
  @include autoDirection((
    padding-right: px(30)
  ));
}

.showIcon {
  @include autoDirection((
    padding-left: px(60)
  ));
}

.message {
  display: block;
  font-size: px(16);
}

.description {
  margin-top: px(4);
  font-size: px(14);
  line-height: px(22);
}

.bgOverlay {
  z-index: -1;
  opacity: 0.05;
}

.icon {
  .small & {
    top: px(10);
    font-size: px(18);
  }
  .medium & {
    top: px(15);
    font-size: px(26);
  }
  .large & {
    top: px(16);
    font-size: px(30);
  }
}

.message {
  .small & {
    font-size: px(14);
  }
  .medium & {
    font-size: px(16);
  }
  .large & {
    font-size: px(20);
  }
}

.description {
  .small & {
    font-size: px(13);
  }
  .medium & {
    font-size: px(14);
  }
  .large & {
    font-size: px(15);
  }
}

.small {
  padding-top: px(8);
  padding-bottom: px(8);
  &.showIcon {
    @include autoDirection((
      padding-left: px(37)
    ));
  }
}

