@import 'styles/abstracts/abstracts.scss';

$font-size-note: 12;

.container {
  position: relative;
  margin-bottom: px(0.8);
}

.label {
  line-height: 1;
  font-weight: $font-medium;
}

.note {
  color: $color-gray-6;
  font-size: px($font-size-note);
  font-weight: $font-regular;
}
