@import 'styles/abstracts/abstracts.scss';

$font-size-default: 14;
$padding-left: 12;
$padding-right: 20;

$font-size-small: 12;
$padding-small-vertical: 0;

$font-size-medium: 14;
$padding-medium-vertical: 0;

$font-size-large: 14;
$padding-large-vertical: 0;

$height-input-small: 28;
$height-input-medium: 37;
$height-input-large: 46;

$color-border-action: $color-gray-5;

.container {
  margin: 0;
  font-size: px($font-size-default);
  display: inline-block;
}

.numberInput {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: $color-dark;
  width: 100%;
  height: 100%;

  &:focus {
    outline: unset;
  }

  .small & {
    padding: px($padding-small-vertical) px($padding-right) px($padding-small-vertical) px($padding-left);
    font-size: px($font-size-small);
  }

  .medium & {
    padding: px($padding-medium-vertical) px($padding-right) px($padding-medium-vertical) px($padding-left);
    font-size: px($font-size-medium);
  }

  .large & {
    padding: px($padding-large-vertical) px($padding-right) px($padding-large-vertical) px($padding-left);
    font-size: px($font-size-large);
  }
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  appearance: none;
  opacity: 0;
  cursor: pointer;
}

.small {
  height: px($height-input-small);
}

.medium {
  height: px($height-input-medium);
}

.large {
  height: px($height-input-large);
}

.block {
  width: 100%;
}

.disabled {
  opacity: 0.4;
  cursor: no-drop;
}


.actionUp {
  line-height: 1;
  flex: 0 0 50%;
  border-left: 1px solid $color-border-action;
  border-bottom: 1px solid $color-border-action;
}

.iconUp,
.iconDown {
  .medium & {
    padding: px(3);
  }

  .large & {
    padding: px(5);
  }
}

.actionDown {
  line-height: 1;
  flex: 0 0 50%;
  border-left: 1px solid $color-border-action;
}
