@import 'styles/abstracts/abstracts.scss';

$font-size-details: 14;

.container {
  position: relative;
}

.colorDetails {
  font-size: px($font-size-details);
}

.box {
  padding-top: px(7);
  padding-bottom: px(7);
}
