@import 'styles/abstracts/abstracts';

$width-control-extra-small:18;
$height-control-extra-small: 18;
$width-control-small: 24;
$height-control-small: 24;
$width-control-medium: 30;
$height-control-medium: 30;
$width-control-large: 36;
$height-control-large: 36;
$font-size: 14;
$font-size-for-extra-small: 12;


.container {
  font-size: px($font-size);
  &.disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.control {
  width: px($width-control-medium);
  height: px($height-control-medium);

  .extra-small & {
    width: px($width-control-extra-small);
    height: px($height-control-extra-small);
  }

  .small & {
    width: px($width-control-small);
    height: px($height-control-small);
  }

  .medium & {
    width: px($width-control-medium);
    height: px($height-control-medium);
  }

  .large & {
    width: px($width-control-large);
    height: px($height-control-large);
  }
}

.extra-small {
  font-size: px($font-size-for-extra-small);
}
