@import 'styles/abstracts/abstracts';

$width-control-extra-small:18;
$height-control-extra-small: 18;
$width-control-small: 24;
$height-control-small: 24;
$width-control-medium: 30;
$height-control-medium: 30;
$width-control-large: 36;
$height-control-large: 36;
$background-color-checkbox: $color-behance;


.container {
  position: relative;
  font-size: px(14);
  cursor: pointer;
}

.checkbox {
  position: relative;

  .checkboxInput {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: none;
    }
  }
}

.control {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: px($width-control-medium);
  height: px($height-control-medium);
  border-radius: px(5);
  border: px(1) solid $color-gray-5;
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

.checkbox+span {
  padding: 0 8px;
}

.checked {
  & .control {
    border: none;
  }
}

.disabled {
  .control {
    background-color: $color-gray-4;
    border: 1px solid $color-gray-5;
    opacity: 0.4;
  }

  .checkboxInput {
    cursor: not-allowed;
  }
}

.disabled+span {
  color: $color-gray-5;
  cursor: not-allowed;
}

.disabled.checked {
  .control {
    background-color: $color-gray-5;
  }
  .icon{
    color: $color-dark;
  }
}

.disabled.container {
  cursor: not-allowed;
}

.extra-small {
  .control {
    width: px($width-control-extra-small);
    height: px($height-control-extra-small);
  }
}


.small {
  .control {
    width: px($width-control-small);
    height: px($height-control-small);
  }
}

.medium {
  .control {
    width: px($width-control-medium);
    height: px($height-control-medium);
  }
}

.large {
  .control {
    width: px($width-control-large);
    height: px($height-control-large);
  }
}
