@import 'styles/abstracts/abstracts.scss';

.container {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  @include pfs('padding-top, padding-bottom', (
    1200px: 80px,
    400px: 40px
  ));
}

.background {
  z-index: -1;
  border-radius: px(40);
  @include media('>lg') {
    margin: 0 px(15);
  }
}

.left {
  @include autoDirection((
    right: 60%
  ))
}

.right {
  @include autoDirection((
    left: 60%
  ))
}
