@import 'styles/abstracts/abstracts.scss';

$picker-width: 42;
$picker-height: 20;

.container {
  position: relative;
}

.pickerColor {
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  cursor: pointer;

  width: px($picker-width);
  height: px($picker-height);
}

.pickerContainer {}

.arrow {
  position: absolute;
  width: 3em;
  height: 3em;

}

.pickerPallte {
  padding: px(10) px(10) 0;
  background-color: #ffffff !important;
  border-radius: px(8);
}

// placement

.bottom {
  margin-top: px(10);

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
  }
}

.bottom-start {
  margin-top: px(10);

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 12px;
    z-index: 1;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
  }
}

.bottom-end {
  margin-top: px(10);

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    right: 12px;
    z-index: 1;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
  }
}

.top {
  margin-bottom: px(10);

  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
  }
}

.top-start {
  margin-bottom: px(10);

  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 12px;
    z-index: 1;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
  }
}

.top-end {
  margin-bottom: px(10);

  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: 12px;
    z-index: 1;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
  }
}

.left {
  margin-right: px(10);

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -6px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffff;
  }
}

.left-start {
  margin-right: px(10);

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -6px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffff;
  }
}

.left-end {
  margin-right: px(10);

  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -6px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffff;
  }
}

.right {
  margin-left: px(10);

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -6px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
  }
}

.right-start {
  margin-left: px(10);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
  }
}

.right-end {
  margin-left: px(10);

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -6px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
  }
}
