@import 'styles/abstracts/abstracts.scss';

$picker-width: 42;
$picker-height: 20;

.pickerColor {
  position: relative;
  z-index: 1;
  cursor: pointer;

  width: px($picker-width);
  height: px($picker-height);
}

.bgFade {
  &:after {
    content: '';
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==');
    position: absolute;
    background-repeat: repeat;
    background-size: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.arrow {
  position: absolute;
  width: 3em;
  height: 3em;

}

:global {
  .sketch-picker {}
}

.pickerPallte {
  padding: px(10) px(10) 0;
  background-color: #ffffff;
  border: none !important;
  border-radius: px(8);

  z-index: 9999;
}

// placement

.bottom {
  margin-top: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: translateX(-50%) rotate(45deg);
    border: 1px solid;
    border-color: #70778b73 white white #70778b73;
    background-color: white;
  }
}

.bottom-start {
  margin-top: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 12px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: #70778b73 white white #70778b73;
    background-color: white;
  }
}

.bottom-end {
  margin-top: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    right: 12px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: #70778b73 white white #70778b73;
    background-color: white;
  }
}

.top {
  margin-bottom: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: translateX(-50%) rotate(45deg);
    border: 1px solid;
    border-color: white #70778b73 #70778b73 white;
    background-color: white;
  }
}

.top-start {
  margin-bottom: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 12px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: white #70778b73 #70778b73 white;
    background-color: white;
  }
}

.top-end {
  margin-bottom: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: 12px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: white #70778b73 #70778b73 white;
    background-color: white;
  }
}

.left {
  margin-right: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -6px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: translateY(-50%) rotate(45deg);
    border: 1px solid;
    border-color: #70778b73 #70778b73 #fff #fff;
    background-color: white;
  }
}

.left-start {
  margin-right: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    top: 7px;
    right: -6px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: #70778b73 #70778b73 #fff #fff;
    background-color: white;
  }
}

.left-end {
  margin-right: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: -6px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: #70778b73 #70778b73 #fff #fff;
    background-color: white;
  }
}

.right {
  margin-left: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -6px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: translateY(-50%) rotate(45deg);
    border: 1px solid;
    border-color: #fff #fff #70778b73 #70778b73;
    background-color: white;
  }
}

.right-start {
  margin-left: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -6px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: #fff #fff #70778b73 #70778b73;
    background-color: white;
  }
}

.right-end {
  margin-left: px(10);
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: -6px;
    z-index: 1000;

    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 1px solid;
    border-color: #fff #fff #70778b73 #70778b73;
    background-color: white;
  }
}
