@import 'styles/abstracts/abstracts.scss';

$thumb-width-small: 16;
$thumb-width-medium: 18;
$thumb-width-large: 20;

$tooltip-width: 32;
$tooltip-height: 32;

.container {
  position: relative;
}

.input {
  outline: none;
  box-shadow: none;
  border: none;
  appearance: none;
  background-color: transparent;
  transition: 0.2s all ease;
  width: 100%;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: none;
  }
}

.input::-webkit-slider-thumb {
  appearance: none;
  border: 1px solid $color-gray-5;
  border-radius: 50%;
  background-color: $color-light;
  outline: none;
  cursor: pointer;
}

.small::-webkit-slider-thumb {
  width: px($thumb-width-small);
  height: px($thumb-width-small);
  margin-top: px(-$thumb-width-small / 2);
}

.medium::-webkit-slider-thumb {
  width: px($thumb-width-medium);
  height: px($thumb-width-medium);
  margin-top: px(-$thumb-width-medium / 2);
}

.large::-webkit-slider-thumb {
  width: px($thumb-width-large);
  height: px($thumb-width-large);
  margin-top: px(-$thumb-width-large / 2);
}

.input::-webkit-slider-runnable-track {
  background-color: $color-gray-6;
  border: none !important;
  box-shadow: none;

  height: px(1.5);
}

.block {
  width: 100%;
}

.horizontal {
  display: block;
}

.vertical {}

.tooltipContainer {
  display: block;
  position: absolute;
  top: -34px;
  text-align: center;
  overflow: visible;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1070;
}

.tooltip {
  width: px($tooltip-width);
  height: px($tooltip-height);
  display: flex;
  transform: rotate(-45deg);
  align-items: center;
  border-radius: 50% 50% 50% 0;
  justify-content: center;
  background-color: $color-info;
}

.tooltipContent {
  transform: rotate(45deg);
}
