@import 'styles/abstracts/abstracts.scss';

body {
  font-family: $font-primary;
  font-size: px(14);
  line-height: 1.78;
  color: $color-gray-7;
  font-weight: 400;
  background-color: $color-light;
}
