@import 'styles/abstracts/abstracts.scss';

h1 {
  font-size: px(40);
}
h2 {
  font-size: px(34);
}
h3 {
  font-size: px(28);
}
h4 {
  font-size: px(24);
}
h5 {
  font-size: px(18);
}
h6 {
  font-size: px(16);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: 600;
  line-height: 1.3;
  color: $color-gray-9;
}
